@font-face {
  font-family: "Kaushan Script";
  src: url("../fonts/Kaushan.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans.ttf");
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  width: 540px;
  height: 674px;
  background: #ffcb00;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.wrapper::after {
  position: absolute;
  left: -25%;
  top: 10%;
  content: "";
  display: block;
  width: 803px;
  height: 466px;
  border: 3px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 0;
}

.wrapper-header {
  width: 131px;
  height: 51px;
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 52px;
  margin-top: 108px;
}

.btn {
  width: 350px;
  height: 50px;
  background: #12314a;
  border: 2px solid #12314a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  z-index: 1;
}

.btn:hover {
  background-color: #ccc;
  cursor: pointer;
}

.btn-auth {
  margin-top: 25px;
}

.entryText {
  padding: 20px 0 0 25px;
  z-index: 1;
  background: #ffcb00;
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
  width: 350px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.entryText::-webkit-input-placeholder {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  color: #000000;
}

.entryText:-ms-input-placeholder {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #000000;
}

.entryText::-ms-input-placeholder {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #000000;
}

.entryText::placeholder {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.politic {
  margin-top: 10px;
  width: 350px;
  height: 50px;
  font-family: "SF UI Text";
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.politic p {
  z-index: 1;
  margin-left: 25px;
  text-align: center;
}

.signin {
  margin-top: 7px;
  z-index: 1;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}
/*# sourceMappingURL=register.css.map */